@tailwind base;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind components;
@tailwind utilities;

.mat-row:hover .mat-cell{
  background-color: #fff5a2;
}
